html {
    height: 100%;
}

body {
         background-image: url("../images/Wide.jpg");
         background-repeat: no-repeat;
         background-size: 100% 100%;
         font-family: aurulent_sans_monoregular;
         height: 100%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

     }

tr {
    background-color: #2a2a2a;
}

td {
    border-right: 2px solid #cccccc;
    border-left: 2px solid #cccccc;
}
th {
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    border-right: 2px solid #cccccc;
    border-left: 2px solid #cccccc;

}
.chartBack
{
    background-color: rgba(255,255,255,0)
}

table.reportTable {
    border-collapse: separate;
    border-spacing:  10px;
    width: 100%;
}


/*div {*/
/*filter: alpha(opacity=50); *//* internet explorer */
/*-khtml-opacity: 0.5;      *//* khtml, old safari */
/*-moz-opacity: 0.5;       *//* mozilla, netscape */
/*opacity: 0.5;           *//* fx, safari, opera */
/*}*/